:root {
    --bg-color: rgb(240, 232, 221);
    --font-color: rgb(134, 150, 79);
    --svg-filter-color: invert(50%) sepia(6%) saturate(1018%) hue-rotate(57deg) brightness(95%) contrast(91%);
    --hover-color: rgba(241, 239, 235, 0.3);
    --main-font: 'Secular One', sans-serif;
    --second-font: 'Paytone One', sans-serif;
    --large-font: 3rem;
    --normal-font: 1.2rem;
    --small-font: 1rem;
}

* {
    color: var(--font-color);
    font-family: var(--main-font);
    font-size: var(--normal-font);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: 0.5fr 2fr;
    background: var(--bg-color);
}

body,
.grid-container {
    display: grid;
}

header {
    grid-row: 1;
}

h1 {
    font-size: var(--large-font);
    margin: var(--large-font) 0 0 0;
}

header > p {
    font-family: var(--second-font);
    margin: 0;
}

header,
main,
.cell,
.start-container {
    display: flex;
    justify-content: center;
}

header,
main,
.cell {
    align-items: center;
    height: 100%;
    width: 100%;
}

header,
main {
    flex-direction: column;
}

main {
    grid-row: 2;
}

form * {
    font-size: var(--small-font);
}

td {
    text-align: center;
    vertical-align: middle;
}

input {
    width: clamp(100px, 75%, 250px);
}

#start,
#reset {
    background: none;
    border-radius: 3px;
}

#start:hover,
#reset:hover {
    background: var(--hover-color);
}

.filter-green {
    filter: var(--svg-filter-color);
}

#start {
    height: 2rem;
    width: 100px;
    margin: 5px;
}

.grid-container {
    height: 60%;
    width: clamp(300px, 60%, 400px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    background-color: var(--font-color);
}

.cell {
    background-color: var(--bg-color);
}

#reset {
    height: 55px;
    width: 55px;
    margin-top: 2rem;
}

#reset > img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.disable-pointer {
    pointer-events: none;
}

.hidden {
    display: none;
}