body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: 0.5fr 2fr;
}

body,
.grid-container {
    display: grid;
}

header {
    grid-row: 1;
}

header,
main,
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

header,
main {
    flex-direction: column;
}

main {
    grid-row: 2;
}

.grid-container {
    height: 50%;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    background-color: rgb(200, 200, 200);
}

.cell {
    background-color: rgb(255, 255, 255);
}

#reset {
    height: 50px;
    width: 50px;
    background-image: url("../images/refresh.svg");
    background-size: cover;
    margin-top: 5rem;
}

.disable-pointer {
    pointer-events: none;
}